# KiCad backup e file temporanei
*-backups/
*-bak
*-bak2
*.tmp
*.lck
*.bak
fp-info-cache

# Preferenze utente locali di KiCad
*.kicad_prl

# Cartella di auto-salvataggio
auto-save/KiCad_Project/Audio_Amp_v1/.history/
